.logo{
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 5px 25px;
}

.Bold{
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
}

.header{
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.header-links{
    align-content: end;
    align-items: stretch;
}
.batmansafari{
    width: 10%;
}
.imagewtext{
    c
}